<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="driverPath" value="C:\\Santhosh\\Automation\\driver" />
    <add key="ReportPath" value="C:\Santhosh\Automation\Reports\TestAutomationReport.html" />
    <add key="url" value="http://uat.talentpaycasting.com/" />
    <add key="loginKey" value="logintalent*74c_" />
    <add key="eMail" value="santhoshd6@mailsac.com" />
    <add key="password" value="Test@1234" />
  </appSettings>
</configuration>
